<!--
<aside>
  <div class="avatar is-active" title="Tomster's avatar">T</div>
</aside>
-->
<!--<Avatar class="current-user" @title="Tomster's avatar" @initial="T" />-->
<Avatar @isActive={{ true }} @title="Tomster's-avatar" @initial="T"></Avatar>
