<!--<ReceivedMessageAvatar />-->
<ReceivedMessage::Avatar />
<section>
  <!--<ReceivedMessageUsername />-->
  <ReceivedMessage::Username />

  <p>
    Hey Zoey, have you had a chance to look at the EmberConf
    brainstorming doc I sent you?
  </p>
</section>